<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.staticImages = {
    splititlogo: '<%= asset_url('splititlogo.png') %>',
    greetingMain: '<%= asset_url('greeting_main.jpg') %>',
    linkedinLogo: '<%= asset_url('linkedin_logo.png') %>',
    githubLogo: '<%= asset_url('github.png') %>',
    icon_flag: '<%= asset_url('icon_flag.png') %>',
    icon_house: '<%= asset_url('icon_house.png') %>',
    icon_person: '<%= asset_url('icon_person.png') %>',
    icon_list: '<%= asset_url('icon_list.png') %>',
    dummy_profile_picture: '<%= asset_url('dummy_profile_picture.png') %>',
    icon_bill: '<%= asset_url('icon_bill.png') %>',
    icon_bill2: '<%= asset_url('icon_bill2.png') %>'
  }
</script>


<main id="root"></main>
